[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601       = "*"
click         =   "*"
Flask           = "*"
Flask-Compress  = "*"
Flask-Cors      = "*"
flask-restplus   ="*"
gunicorn         ="*"
itsdangerous   =  "*"
Jinja2         =  "*"
jsonschema      = "*"
MarkupSafe    =   "*"
numpy            ="*"
pandas           ="*"
pip            =  "*"
python-dateutil = "*"
pytz             ="*"
setuptools       ="*"
six              ="*"
Werkzeug         ="*"
wheel            ="*"



[dev-packages]

[requires]
python_version = "3.6"
